
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: arial; }

.app {
  height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; }

.kanbanHeader {
  font-size: 40px;
  padding: 10px;
  color: white;
  background-color: black;
}

.kanbanBoard {
  display: flex;
  justify-content: space-between;
  height: 800px;
  width: 100%; }

.inQueue,
.inProgress,
.done {
  width: 33%;
  background: white;
  overflow: hidden; }

.columnHeading {
  font-size: 20px;
  text-align: center;
  margin: 10px; }

.cardContainer {
  height: 92%;
  overflow: auto; }

.inProgress {
  border-left: 1px solid;
  border-right: 1px solid; }

.low,
.medium,
.high,
.blocker {
  margin: 5px;
  padding: 5px;
  box-sizing: content-box; }

.low {
  background: lightblue;
  border: 1px; }

.medium {
  background: lightgreen;
  border: 1px solid; }

.high {
  background: red;
  border: 1px solid; }

.blocker {
  background: lightgrey;
  border: 1px solid; }

.floatRight {
  float: right; }

.link {
  text-align: right;
  text-decoration: underline; }